@*@model List<NovinTehran.Web.ViewModels.LatestArticlesViewModel>


<div class="widget recent-post-widget">
    <h3>آخرین مقاله ها</h3>
    <div class="posts">
        @foreach (var item in Model)
        {
            <div class="post">
                <div class="img-holder">
                    <img src="/Files/ArticleImages/Thumb/@item.Image" alt>
                </div>
                <div class="details">
                    <h4><a href="/Blog/Article/@item.Id/@item.Title">@item.Title</a></h4>
                    <span class="date"><i class="ti-timer"></i>@item.PersianDate</span>
                </div>
            </div>
        }
    </div>
</div>*@
