@model List<NovinKargar.Core.Models.ArticleTag>



<div class="tag">
    <span>تگ : </span>
    <ul>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <li><a href="/Blog?searchString=@Model[i].Title.Replace(" ", "+")">@Model[i].Title</a></li>
        }
        </ul>
</div>